body
{
          background-color:lightblue;
          background-image:url("/home/Sem6B12/20171cse0757/ntr.jpg");
          background-repeat:no-repeat;
          background-position:center;
          
}
 
h1{
          color:blue;
}
